<%= render  "shared/navbar", center: @user.username %>

<div class="container">
  
  <%# User avatar %>
  <%# User header %>
  <div class="user-header">
    <div class="avatar-container">
      <% if @user.photo.attached? %>
        <%= cl_image_tag(@user.photo.key, class:"medium-round-avatar") %>
      <% end %>
    </div>
    <%# Stats meter %>
    <%= render "shared/stats-meter", user: @user %>
  </div>
  <div class="bio-and-edit">
    <h5><%= @user.full_name %></h5>
    <p><%= @user.bio %></p>
    
    <%= link_to edit_user_registration_path do %>
      <div class="secondary-button">Edit</div>
    <% end %>
    <br>
    
    <% if @user.followers.empty? %>
      <%= link_to new_user_follow_path(@user) do %>
          <div class="primary-button">Follow</div>
      <% end %>
      <% else %>
      <% @user.followers.each do |follower| %>
        <% if follower.email == current_user.email %>
          <%= link_to follow_path, method: :delete do %>
            <div class="secondary-button">Unfollow</div>
          <% end %>
        <% else %>
          <%= link_to new_user_follow_path(@user) do %>
            <div class="primary-button">Follow</div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  


  <div class="posts-grid">
    <% @user.posts.each do |post| %>
      <div class="image-container">
        <%= link_to post_path(post) do %>
          <%= cl_image_tag(post.photo.key, class:"photo")%>
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>
<%= render "shared/footer" %>