<%= render  "shared/navbar", center: @user.username %>

<div class="container">
  
  <%# User avatar %>
  <%# User header %>
  <div class="user-header">
    <% if @user.photo.attached? %>
      <%= cl_image_tag(@user.photo.key, class:"medium-round-avatar") %>
    <% end %>
    <%# Stats meter %>
    <%= render "shared/stats-meter", user: @user %>
  </div>
  <div class="bio-and-edit">
    <%= link_to edit_user_registration_path do %>
      <div class="secondary-button">Edit</div>
    <% end %>
  </div>
  
  


  <div class="posts-grid">
    <% @user.posts.each do |post| %>
      <%= cl_image_tag(post.photo.key, class:"grid-photo")%>
    <% end %>
  </div>
  
</div>
<%= render "shared/footer" %>