<div class="footer-container">
  <ul class="footer-buttons">
    <li class="footer-button">
      <%= link_to "Home", root_path %>
    </li>
    <li class="footer-button">
      <%= link_to "Discover", '#' %>
    </li>
    <li class="footer-button">
      <%= link_to "Upload", '#' %>
    </li>
    <li class="footer-button">
      <%= link_to "Activity", '#' %>
    </li>
    <li class="navbar-item">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <%= cl_image_tag(current_user.photo.key, class:"small-round-avatar") %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>