<div class="post-card-container" id="<%= post.id %>">
  <%# Card %>
  <%# Card header %>
  <div class="post-card-header">
    <div class="photo-and-username">
      <%= cl_image_tag(post.user.photo.key, class:"small-round-avatar")%>
      <h5><%= post.user.username %></h5>
    </div>
    <% if current_user = post.user%>
      <%= link_to '', post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class:"fas fa-trash"%>
    <% end%>
  </div>


  <% if post.photo.attached? %>
      <%= cl_image_tag(post.photo.key, class:"post-image") %>  
  <% end %>

  <%# Post buttons bar %>
  <div class="post-buttons-bar">
    <% if post.likes.empty? %>
      <%= link_to '', new_post_like_path(post), class:"far fa-heart"%>
    <% else%>
      <% post.likes.each do |like| %>
        <% if like.user.username == current_user.username %>
          <%= link_to '', like_path(like), method: :delete, class:"fas fa-heart"%>
        <% else %>
          <%= link_to '', new_post_like_path(post), class:"far fa-heart"%>
        <% end %>
      <% end %>
    <% end%>
    <%= link_to '', new_post_comment_path(post), class:"far fa-comment" %>
  </div>
  
  <%# Post likes meter %>
  <div class="post-likes-meter">
    <h5><%= post.likes.count %> likes</h5>
  </div>
  
  <%# Post description and comments section %>
  <div class="post-comments-container">
    <div class="username-description-container">
      <h5><%= post.user.username %></h5>
      <p><%= post.description %></p>
    </div>
    <% post.comments.each do |comment| %>
      <div class="comment">
        <div class="content-and-username">
          <h5><%= comment.user.username %></h5>
          <p><%= comment.content %></p>
        </div>
        <%= link_to "Delete", comment_path(comment), method: :delete %>
      </div>
    <% end %>
  </div>

  <%# Post timestamp %>

</div>