<%= render  "shared/navbar", left: (link_to "Back", :back), center: "Add post" %>
<div class="container">
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :description %>
    <div class="form-actions">
      <%= f.button :submit, "Post" %>
    </div>
  <% end %>
</div>